.card {
  display: inline-flex;
  flex-direction: column-reverse;
  text-align: center;
  margin: 10px;
  height: 330px;
  transition: all ease 0.2s;
  position: relative;
  bottom: 0;
  color: initial;
  text-shadow: none;

  &-body {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 15px -2px rgba(60, 72, 88, 0.15);
    max-width: 300px;
    width: 300px;
    height: 230px;
    padding: 20px 0;

    .elite-icon {
      position: absolute;
      right: 20px;
      top: 80px;
      fill: #f6b861;
      filter: drop-shadow(1px 0px 3px rgba(246, 184, 97, 0.3));
    }

    .textfield {
      position: relative;
      top: -70px;

      h3 {
        font-family: Tulip;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: rgba(0, 0, 0, 1);

        // color: #246045;
        // text-shadow: rgba(36, 96, 69, 0.3) 1px 0 10px;
      }

      p {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }

  &-image {
    height: 220px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -80px;
    box-shadow: inset 0px -20px 15px -10px #fafafa;

    .placeholder {
      position: absolute;
      top: 130px;
    }

    img[data-placeholder-image] {
      filter: blur(3px) opacity(50%);
    }

    img {
      // width: 220px;
      height: 220px !important;
    }
  }

  &:hover {
    bottom: 10px;
  }
}
